#block{
    background:#000; 
    position:fixed; 
    width:100%; 
    height:100%; 
    z-index:999; 
    top:0; 
    left:0; 
    opacity:0.50;
    -moz-opacity: 0.50;filter: alpha(opacity=50);
}

.select{
    position:fixed;
    top:20%;
    left:40%;
    display:none;
    z-index:1000;
    background:#FFF;
    border:#000 solid 1px;
}

#selected_char_img{
    display: flex;
    height: 90px;
    margin: auto;
}

#action-select-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    margin-bottom: 10px;
}

#selected_char_hp{
    margin: 0;
}

#selected_char_sp{
    margin: 0;
}

#selected_char_atk{
    margin: 0;
}

#selected_char_atk{
    margin: 0;
}

#selected_char_def{
    margin: 0;
}

#selected_char_matk{
    margin: 0;
}

#selected_char_mdef{
    margin: 0;
}

#selected_char_step{
    margin: 0;
}

#selected_char_range{
    margin: 0;
}

#selected_char_mrange{
    margin: 0;
}

/* .select div{width:70px; height:70px; float:left; margin:1px; font-size: 48px; text-align:center; float:left; margin:5px;} *