#field{  
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;  
    width: 780px; height: 780px; 
    border:#000 solid 1px; 
    /* margin:auto; */
    background-image: url("../src/ground01.jpg"); 
    /* background-size: contain; */
}

#field div{
    width:50px; 
    height:50px; 
    float:left; 
    margin:1px; 
    font-size:48px; 
    text-align:center;
}

div{
    cursor:pointer;
}

#action-select{
    display:block;
}

#body{
    background: #000;
}

#turn div{
    width:50px; 
    height:50px; 
    float:left; 
    margin:1px; 
}

#turn{
    text-align: center;
}